:root {
    --ifm-color-primary: #1f6feb;
    --ifm-color-primary-dark: #1b63d4;
    --ifm-color-primary-darker: #195ec8;
    --ifm-color-primary-darkest: #154ea5;
    --ifm-color-primary-light: #2f7af0;
    --ifm-color-primary-lighter: #3d84f2;
    --ifm-color-primary-lightest: #5f98f5;
    --ifm-code-font-size: 95%;
}